doctype html
html
  head
    title Product Catalog
    link(rel="stylesheet", href="/styles.css")
  body
    header
      nav
        a(href="/") Home
        a(href="/admin") Admin
        a(href="/user") User
        a(href="/user-products") My Products
    main
      block content
