
body {
    font-family: Arial, sans-serif;
    background: rgb(92,96,213);
    background: linear-gradient(90deg, rgba(92,96,213,1) 0%, rgba(226,181,227,1) 53%, rgba(93,101,192,1) 100%); margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: rgb(68,72,180);
    background: linear-gradient(90deg, rgba(68,72,180,1) 0%, rgba(133,81,134,1) 53%, rgba(73,82,185,1) 100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4a1e5b;
}

label {
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #4a1e5b;;
    border-radius: 5px;
    font-size: 1.1rem;
    background: rgb(68,72,180);
background: linear-gradient(90deg, rgba(68,72,180,1) 0%, rgba(133,81,134,1) 53%, rgba(73,82,185,1) 100%);
}

#username:focus{
    border: 4px double #731b1b;
}
#password:focus{
    border: 4px double #731b1b;
}


button {
    background-color: #4a1e5b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover {
    background-color: #1b0d99;
}

