
body {
    font-family: Arial, sans-serif;
    background: rgb(210,156,156);
background: radial-gradient(circle, rgba(210,156,156,1) 0%, rgb(74, 57, 114) 100%);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: rgb(141,69,69);
background: radial-gradient(circle, rgba(141,69,69,1) 0%, rgba(92,75,133,1) 100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea {
    width: 95%;
    padding: 12px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: rgb(75, 59, 113);
}



button {
    width: 40%;
    background-color: rgb(35, 28, 52);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover {
    background-color: rgb(44, 9, 127);
}
